* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

@font-face {
  font-family: "OldLondonAlternate";
  src: url("../DaFont/old_london/OldLondonAlternate.ttf") format("truetype");
}
@font-face {
  font-family: "Darling";
  src: url("../DaFont/darling_3/Darling.otf") format("truetype");
}
@font-face {
  font-family: "Blackside";
  src: url("../DaFont/blackside_2/Blackside.ttf") format("truetype");
}
@font-face {
  font-family: "Bykars Demo";
  src: url("../DaFont/Amalfi Coast.ttf") format("truetype");
}
@font-face {
  font-family: "Signatrue";
  src: url("../DaFont/Signatrue.ttf") format("truetype");
}
html {
  width: 100%;
  font-size: 65.2%;
  scroll-behavior: smooth;
}

body {
  /* background-image: url(../assets/back.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}

.bg__login{
   background-image: url(../assets/back.png);
   background-size: cover;
   background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.Header__header {
  width: 100%;
  height: 75px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header__cube {
  position: relative;
  top: -43px;
  margin-left: 15px;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
  cursor: pointer;
}
/* pause */
.square1 { 
  width: 30px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #fff;
  border-radius: 2px 0 2px 2px;
  transform: skew(180deg, 210deg);
  position: absolute;
  top: 36px;
}
/* play */
.square2 {
  width: 30px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #fff;
  border-radius: 2px;
  transform: skew(180deg, 150deg);
  position: absolute;
  left: 29px;
  top: 36px;
}
/* stop */
.square3 {
  width: 34px;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #fff;
  border-radius: 2px;
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: -30px;
  top: 19px;
}

.stop {
  width: 17px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: -22px;
  top: 26px;
}

.play {
  width: 0;
  height: 0;
  transform: skew(180deg, 140deg);
  position: absolute;
  left: 37px;
  top: 20px;
  border-top: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px 2px 4px 0;
}

.square, .play:hover {
  border-bottom: 18px solid red;
  cursor: pointer;
}

.pause1 {
  width: 4px;
  height: 18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transform: skew(180deg, 210deg);
  position: absolute;
  left: 11px;
  top: 41px;
}

.pause2 {
  width: 4px;
  height: 18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transform: skew(180deg, 210deg);
  position: absolute;
  left: 17px;
  top: 45px;
}

.header__logo {
  position: absolute;
  left: 85px;
  font-size: 2rem;
  color: #fff;
}

.header__menu {
  margin-right: 10px;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 10px;
}

.header__menu--profile p {
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  font-family: "Mulish", sans-serif;
}

.header__menu .header__nav-menu {
  height: 100px;
  width: 120px;
  position: absolute;
  top: 58px;
  right: 10px;
  border-radius: 8px;
  display: block;
  font-weight: normal;
  background: #313131;
  /* background-color: rgba(255, 255, 255, 0.5); */
  list-style: none;
  text-align: right;
  display: none;
  white-space: nowrap;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2 ease-in-out;
  box-shadow: 0px 0px 20px 0px #f3eeee;

}

.header__menu .header__nav-menu:before {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  /* border-bottom: 15px solid rgba(255, 255, 255, 0.5); */
  border-bottom: 15px solid #313131;
  content: " ";
  top: -11px;
  right: 7px;
}

.header__menu:hover .header__nav-menu, .header__nav-menu:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}


.header__nav-menu li {
  margin: 7px 0;
}

.header__nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  padding-right: 6px;
}

.header__nav-menu li a:hover {
  text-decoration: underline;
}

/* .bg__header {
  position: relative;
  top: 0;
  width: 77%;
  margin: 0 auto;

}
.bg__header img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  margin: 0 auto;
} */

/* 
.bg__body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg__body img {
  max-width: 100%; 
}

.bg__body {
  position: absolute;
} */

.grid__body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.grid__container {
  display: grid;
  grid-template: repeat(21, 1fr) / repeat(13, 1fr);
  width: 100%;
  height: 100vh;
}

.grid__container img {
  width: 100%;
  height: 100%;
}

.bg__header {
  grid-column: 1 / 14;
  grid-row: 1 / 8;
  z-index: 1;
}

.bg__body1 {
  grid-column: 4 / 12;
  grid-row: 10 / 14
}

.bg__body2 {
  grid-column: 4 / 7;
  grid-row: 8 / 9;
}

.bg__body3 {
  grid-column: 7 / 9;
  grid-row: 8 / 10;
  z-index: 1;
}

.bg__body4 {
  grid-column: 8 / 13;
  grid-row: 15 / 18;
}
.bg__body5 {
  grid-column: 1 / 8;
  grid-row: 14 / 22;
}

.bg__body6 {
  grid-column: 12 / 14;
  grid-row: 9 / 12;
}

.bg__body7 {
  grid-column: 1 / 4;
  grid-row: 8 / 12;
}

/* .bg__body7 img {
  border-radius: 0px 0px 25px 0px;
} */

.bg__body8 {
  grid-column: 1 / 4;
  grid-row: 12 / 14;
}
.bg__body9 {
  grid-column: 12 / 14;
  grid-row: 12 / 15;
}

.bg__body10 {
  grid-column: 11 / 14;
  grid-row: 18 / 22;
}

.bg__body11 {
  grid-column: 9 / 14;
  grid-row: 8 / 9 ;
}

.bg__body12 {
  grid-column: 10 / 12;
  grid-row: 14 / 15;
}

.bg__body14 {
  grid-column: 8 / 10;
  grid-row: 14 / 15;
}

.bg__body18 {
  grid-column: 8 / 11;
  grid-row: 18 / 22;
}

.bg__body19 {
  grid-column: 9 / 12;
  grid-row: 9 / 10;
}

.bg__body31 {
  grid-column: 4 / 7;
  grid-row: 9 / 10;
}

.bg__body33 {
  grid-column: 12 / 14;
  grid-row: 15 / 18;
}

.bg__body13,
.bg__body15, .bg__body16, .bg__body17, .bg__body20, .bg__body21, .bg__body22, .bg__body23, .bg__body24, .bg__body25, .bg__body26, .bg__body27, .bg__body28, .bg__body29, .bg__body30, .bg__body32 {
  display: none;
} 

main {
  width: 100%;
  padding-bottom: 100px;
  /* background-color: blue; */
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}
.main__search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  margin-bottom: 45px;
  position: relative;

  /* background-color:#00a400 */
}

.main__title {
  font-size: 3rem;
  margin-bottom: 9px;
  font-family: "Darling";
}

.main__title span {
  color: #f2f2f2;
}

input[type=text] {
  border: 1px solid #e7dfcf;
  border-radius: 8px;
  transition: 0, 3s;
}

.main__input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  word-wrap: break-word;
  width: 250px;
  height: 40px;
  padding: 0 20px;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 8px;
  margin-right: 2px;
  
}

.main__input:hover, .form-container--button:hover  {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px 0;
  /* border-color: #1e2dff; */
  border: 1px solid #e7dfcf;
}

.form-container--button {
  border: none;
  font-size: 14px;
  /* position: absolute; */
  /* right: 0; */
  padding: 8px;
  border-radius: 6px;
  height: 38px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #e7dfcf;
}

.form-container--button img{
  width: 18px;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 10px;
  position: relative;
  scroll-snap-align: center;
  /* background-color: red; */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__container {
  white-space: nowrap;
  margin: 55px 0;
}

.carousel__section {
  position: relative;
}
.carousel__title {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 25px;
  margin-left: 10px;
  color: #000;
  padding: 4px;
  /* border: solid 1px #fff; */
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-item {
  width: 190px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(95px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.8;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__details {
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); */
  font-size: 1.3rem;
  opacity: 0;
  /* transition: 450ms opacity; */
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
}

.carousel-item:hover .carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
  width: 100%;
  opacity: 1;
}

.carousel-item__imgIcon {
  /* width: 18px; */
  margin-right: 8px;
  /* border: solid 1px #fff; */
  /* border-radius: 50%; */
  /* padding: 3px; */
}

.carousel-item__details--title {
  font-family: "Poppins", sans-serif;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 1rem;
}
.carousel-item__details--subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;

}

/* Example child selector ================================================================= */
/* 

.container {
  border: 1px solid rgb(228, 210, 210);
}

.square {
  border: 2px solid rgb(195, 226, 195);
  width: 70px;
  height: 70px;
  display: grid;
  grid-template: repeat(13, 1fr) / repeat(12, 1fr); 

p:nth-child(2n) {
  color: rgb(216, 252, 216);
}

p:nth-child(2n+1) {
  color: rgb(235, 240, 172);
}

*/

/* modal ================================================================= */

.body__modal {
  /* display: flex;
  justify-content: center; */
  min-height: 100vh;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  /* cursor: pointer; */
}

.modal__content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
  /* animation: zoom 0.3s linear; */
}

.close img{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  width: 25px;
  height: 25px;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal.open .modal__image {
  animation: zoom 0.3s linear;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1);
  }
}

/* Log In ================================================================= */
.login {
  width: 100%;
  /* padding: 0 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 210px);
}

.login__container {
  padding: 20px;
  min-height: 457px;
  width: 335px;
  background-color: rgba(255, 255, 255, 0.5);
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 36px;
  /* box-shadow: 0px 0px 20px 0px #f3eeee; */
}

.login__container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 10px;
  /* margin-bottom: 15px; */
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

input[type=password] {
  border: 1px solid #e7dfcf;
  border-radius: 8px;
  transition: 0, 3s;
}

.form__input {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  height: 48px;
  padding: 0 12px;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.form__input:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px 0;
  /* border: 1px solid #e7dfcf; */
  border-color: #f2f2f2;
}

.login__container .__button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  line-height: 48px;
  margin-bottom: 17px;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.button__form {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.button-submit:hover {
  background-color: #1a73eb;
}

.login__form--remember-me {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}

.login__form--remember-me label {
  font-size: 1.4rem;
  vertical-align: middle;
}

.login__form--remember-me label input {
  vertical-align: middle;
  cursor: pointer;
}

.login__form--remember-me a {
  font-size: 1.4rem;
  color: #000;
}

.login__form--remember-me a:hover {
  text-decoration: undeline;
}

.login__social-media > div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 4px 0px;
}

.login__social-media > div > a > img {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.login__register {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.separator {
  width: 100%;
  margin: 12px 0;
}

.login__reg {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.login__reg > span:before, .login__reg > span:after {
  background: #ccd0d5;
  content: "";
  height: 1px;
  position: absolute;
  width: 100px;
  top: 50%;
}

.login__reg > span:before, .login__reg > span:after {
  /* background: #ccd0d5; */
  background: #b7c0cc;
  content: "";
  height: 1px;
  position: absolute;
  width: 100px;
  top: 50%;
}

.login__43mh {
  font-size: 1.2em;
}

.login__reg > span {
  display: inline-block;
  position: relative;
}

.login__43mh:before {
  margin-right: 15px;
  right: 100%;
}

.login__43mh:after {
  margin-left: 15px;
  width: 100%;
}

.login__52jj {
  text-align: center;
}

.login__5t3b {
  padding: 13px 3px;
  background: #00a400;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  width: 200px;
  margin: 0 auto;
}

.login__btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

/* error 404 ================================================================= */
@font-face {
  font-family: "Signatrue";
  src: url("../DaFont/miltown/Miltown/Miltown_.ttf") format("truetype");
}
html {
  min-height: 100%;
}

.body__error-404 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000000;
  background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1ex #33ff33, 0 0 2px rgba(255, 255, 255, 0.8);
}

.logo__error-404 {
  color: #fff;
}

.main__error-page {
  width: 100%;
  /* height: 100%; */
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%, 100% {
    background-position: 0 100vh;
  }
}
.terminal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  max-width: 100%;
  width: 1100px;
  /* height: 100%; */
  /* position: absolute; */
  min-height: calc(100vh - 150px);
  padding: 2rem;
  text-transform: uppercase;
}

.language h1 {
  font-size: 2rem;
  margin: 17px 0;
  font-family: "Signatrue";
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
  line-height: 1.4;
  font-size: 1.3rem;
  font-family: "Signatrue";
}

.output::before {
  content: "> ";
}

.error__404 {
  color: #fff;
  text-decoration: none;
}

.error__404::before {
  content: "[";
}

.error__404::after {
  content: "]";
}

.errorcode {
  color: white;
}

.site__footer {
  position: relative;
  padding: 12px;
  font-family: "Poppins", sans-serif;
}

.site__footer-error {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.site__footer-error .footer__copyright li a {
  color: #fff;
}

.site__footer-error .footer__country {
  color: #fff;
}

.footer__country {
  padding: 4px 0px;
  border-bottom: 1px solid #70757a;
  font-size: 1.5rem;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.site__footer .copyright {
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}

.footer__copyright li {
  list-style: none;
}

.footer__copyright li a {
  font-size: 1.4rem;
  color: #52565a;
  cursor: pointer;
}

.footer__copyright li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 360px) {
  .login__container {
    padding: 10px;
    min-height: 442px;
    width: 300px;
  }
  .login__container h2 {
    bottom: 5px;
  }
  .language h1 {
    font-size: 1.4rem;
    margin: 8px 0;
  }

  .output {
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
    line-height: 1.4;
    font-size: 1rem;
  }

  .footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: left;
    margin: 16px 0;
  }
}

/*# sourceMappingURL=style.css.map */
