

.Header__header {
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

.header__cube {
  position: relative;
  top: -53px;
  margin-left: 0px;
}
.square1 {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);

  border: solid 1px #fff;
  transform: skew(180deg, 210deg);
  position: absolute;
  top: 43px;
}

.square2 {
  width: 38px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);

  border: solid 1px #fff;
  transform: skew(180deg, 150deg);
  position: absolute;
  left: 40px;
  top: 43px;
}
.square3 {
  width: 43px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);

  border: solid 1px #fff;
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: -25px;
  top: 19px;
}

.stop {
  width: 20px;
  height: 15px;
    background: rgba(255, 255, 255, 0.5);

  border-radius: 5px;
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
  position: absolute;
  left: -13px;
  top: 32px;
}

.play {
  width: 0;
  height: 0;
  transform: skew(180deg, 140deg);
  position: absolute;
  left: 52px;
  top: 29px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 18px solid lightblue;
  border-radius: 6px 2px 6px 0;
}

.pause1 {
  width: 4px;
  height: 22px;
  background: rgba(255, 255, 255, 0.5);

  /* border: solid 1px #fff; */
  border-radius: 5px;
  transform: skew(180deg, 210deg);
  position: absolute;
  left: 15px;
  top: 50px;
}

.pause2 {
  width: 4px;
  height: 22px;
  background: rgba(255, 255, 255, 0.5);

  /* border: solid 1px #fff; */
  border-radius: 5px;
  transform: skew(180deg, 210deg);
  position: absolute;
  left: 22px;
  top: 54px;
}

.header__logo {
  font-size: 3rem;
}

.header__menu {
  margin-right: 0px;
}

.header__menu--profile {
  display: flex;
  align-items: center;
}

.header__menu--profile img {
  margin-right: 10px;
  width: 64px;

}

.header__menu--profile p {
  font-size: 2.3rem;
}


.header__menu ul {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 50%;

}

.header__menu li {
  margin: 10px 0;
}

.header__menu li a {
  font-size: 1.8rem;
  /* line-height: 1; */
}



.main__search {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;
  padding-top: 80px;
  margin-bottom: 75px;
}

.main__title {
  font-size: 4rem;
  margin-bottom: 23px;
  font-family: "Darling";
}

.main__title span {
  color: #f2f2f2;
  font-size: 6rem;
}

.main__input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  word-wrap: break-word;
  width: 75%;
  height: 50px;
  padding: 0 20px;
  font-size: 1.6rem;
}

.carousel__section {
  width: 90%;
  margin: 0 auto;
  
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 10px;
  padding: 10px 0;
}

.carousel__container {
  white-space: nowrap;
  margin: 65px 0;
}

.carousel__title {
  padding-left: 0;
}

.carousel-item {
  width: 230px;
  height: 280px;
}

.carousel-item:hover ~ .carousel-item{
  transform: translate3d(115px, 0, 0);
}

.carousel-item__imgIcon {
  width: 33px;
}
.carousel-item__details--title, .carousel-item__details--subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}


/* login =================================================  */
.login__container {
  padding: 32px;
  min-height: 557px;
  width: 425px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* margin-top: 26px; */
  box-shadow: 0px 0px 20px 0px rgb(243, 238, 238);
}

.login__container h2 {
  text-align: center;
  font-size: 2.9rem;
}

.form__input {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  padding: 0 12px;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.button-submit {
  padding: 13px;
  border-radius: 6px;
  font-size: 1.8em;
  /* background-color: #1a73eb; */
}

.login__form--remember-me label {
  font-size: 1.6rem;
}

.login__form--remember-me a {
  font-size: 1.6rem;
}

.login__social-media > div {
  font-size: 1.6rem;
  padding: 4px 0px;
}

.login__social-media > div > a > img {
  width: 28px;
  margin-right: 10px;
  vertical-align: middle;
}

.login__reg > span:before, .login__reg > span:after {
  background: #ccd0d5;
  content: "";
  height: 1px;
  position: absolute;
  width: 200px;
  top: 50%;
}

.login__reg > span:before, .login__reg > span:after {
  /* background: #ccd0d5; */
  background: #b7c0cc;
  content: "";
  height: 1px;
  position: absolute;
  width: 200px;
  top: 50%; 
}

.login__43mh {
  font-size: 1.4em;
  /* color: red; */
}


.site__footer {
  padding: 15px;
}

.site__footer .copyright {
  font-size: 1.8rem;
}

.login__5t3b {
  padding: 13px 3px;
  background: #00a400;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  width: 220px;
  margin: 0 auto;
}
.login__btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 35%);
  cursor: pointer;
  font-size: 1.2em;
}

.footer__country {
  padding: 6px 0px;
  border-bottom: 1px solid #70757a;
  font-size: 1.8rem;
}

.footer__copyright li a {
  font-size: 1.8rem;
  color: #70757a;
}

/* error page ================================================================= */

.terminal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 255px);
  padding: 5rem;
  text-transform: uppercase;
}

.language h1 {
  font-size: 2.6rem;
  margin: 21px 0;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
      line-height: 1.6;
      font-size: 1.6rem;
}